/* Base styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans MT';
}

#box {
    background-color: #f44322;
    height: 650px;
}

#d {
    margin-left: 48%;
    color: white;
    padding-top: 0.5%;
}

h2 span {
    margin-left: 53%;
}

#b1 {
    width: 12%;
    height: 40px;
    background-color: #d91400;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 60%;
}

#b2 {
    width: 12%;
    height: 40px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #d91400;
    border-radius: 20px;
    border: none;
    font-size: 60%;
}

#e b {
    display: block;
    margin-left: 32%;
    margin-top: 17%;
    font-size: 200%;
    font-family: Gill Sans MT;
    color: white;
}

.input-box {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    width: 350px;
    margin-top: 10px;
    margin-left: 40%;
    height: 30px;
}

.input-box input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    flex: 1;
}

.input-box img {
    margin-right: 10px;
}

.input-box button {
    background-color: #d91400;
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.input-box button img {
    margin-left: 7px;
    margin-top: 3px;
}

#signin {
    margin-left: 46%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 30px;
    background-color: white;
    font-family: 'Gill Sans MT';
    border-radius: 20px;
    border: none;
    padding: 0 10px;
}

#signin img {
    margin-right: 10px;
    height: 16px;
}

#box2 {
    background-color: white;
    height: 450px;
    padding: 50px 10%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.feature {
    width: 30%;
}

.feature img {
    width: 100px;
    height: auto;
}

.feature h2 {
    font-size: 24px;
    margin: 20px 0;
}

.feature p {
    font-size: 16px;
    margin: 10px 0;
}

.feature a {
    font-size: 16px;
    color: #d91400;
    text-decoration: none;
    font-weight: bold;
}

#box3 {
    background-color: white;
    height: 300px;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

#text1 {
    flex: 1;
}

#text1 button {
    width: 25%;
    height: 40px;
    background-color: #d91400;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 110%;
}

#pic1 {
    flex: 1;
}

#pic1 img {
    max-width: 100%;
    height: auto;
}

#box4 {
    background-color: #fef1ee;
    height: 500px;
    display: flex;
    align-items: center;
    padding: 0 6%;
    padding-top: 60px;
}

#text2 {
    flex: 1;
    padding-left: 100px;
}

#text2 button {
    width: 25%;
    height: 40px;
    background-color: #d91400;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 110%;
}

#pic2 {
    flex: 1;
}

#pic2 img {
    max-width: 100%;
    height: auto;
}

#box5 {
    background-color: #b99b04;
    height: 430px;
}

#f b {
    display: block;
    margin-left: 43%;
    font-size: 200%;
    font-family: Gill Sans MT;
    color: white;
    padding-top: 100px;
}

#f h4 {
    margin-left: 41%;
    color: white;
}

#f p {
    margin-left: 36%;
    color: white;
}

#box5 button {
    width: 10%;
    height: 40px;
    background-color: #d91400;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 100%;
    margin-left: 46%;
    margin-top: 14px;
}

.g{
    padding-left: 47%;
    color: white;
}

#box6 {
    background-color: white;
    height: 300px;
    display: flex;
    align-items: center;
    padding: 0 10%;
    padding-top: 8%;
}

#text3 {
    flex: 1;
}

#text3 button {
    width: 17%;
    height: 40px;
    background-color: #d91400;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 110%;
}

#pic3 {
    flex: 1;
}

#pic3 img {
    max-width: 100%;
    height: auto;
}

/*something  */
#box7 {
    background-color: #fef1ee;
    height: 2000px;
    padding: 0 6%;
    padding-top: 60px;
}

#heading {
    margin-left: 37%;
    margin-top: 2%;
}

#headingsub{
    margin-left: 20%;
    margin-bottom: 5%;
}


#box7 img{
    max-width: 500px;
    height: auto;
    margin-left: 13%
}

#text4{
    margin-left: 13%;
}
 #headingsub2 {
    margin-left: 8%;
 }

#headingsub3 {
    margin-left: 19%;
}

#parahsub {
    margin-left: 11%;
}

#text4 button {
    width: 14%;
    height: 40px;
    background-color: #d91400;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 110%;
    margin-left: 14.5%;
    margin-bottom: 3%;
}

#text5{
    margin-left: 13%;
}
 #headingsub4 {
    margin-left: 5%;
 }

 #text5 button {
    width: 14%;
    height: 40px;
    background-color: #d91400;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 110%;
    margin-left: 13%;
    margin-bottom: 3%;
}


/* Responsive design for larger screens */
@media (max-width: 1354px) {
    #d {
        margin-left: 2%;
        padding-top: 3%;
    }

    h2 span {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 7.5px;
        right: 5px;
        margin: 0;
    }

    #b1, #b2 {
        width: 70px;
        margin: 0 5px;
    }

    #e b {
        margin-left: 0;
        margin-top: 35%;
        text-align: center;
        font-size: 150%;
    }

    .input-box {
        width: 80%;
        margin: 20px auto;
    }

    #signin {
        margin: 20px auto;
        text-align: center;
    }

    #box2 {
        flex-direction: column;
        height: auto;
    }

    .feature {
        width: 80%;
        margin-bottom: 20px;
        margin-left: 13%;
    }

    #box3 {
        flex-direction: column;
        height: auto;
        padding: 0 5%;
        text-align: center;
    }

    #text1 button {
        width: 100%;
        margin: 10px 0;
    }

    #pic1 {
        order: -1;
        margin-top: 20px;
    }

    #pic1 img {
        width: 100%;
    }

    #box4 {
        flex-direction: column;
        height: auto;
        padding: 0 5%;
        text-align: center;
    }

    #text2 {
        order: 2;
        padding-left: 0;
        margin-top: 20px;
    }

    #text2 button {
        width: 100%;
        margin: 10px 0;
    }

    #pic2 {
        order: 1;
        margin-top: 20px;
    }

    #pic2 img {
        width: 100%;
    }

    #box5 {
        height: auto;
        padding: 20px;
        text-align: center;
    }

    #f b {
        margin-left: 0;
        padding-top: 20px;
        font-size: 150%;
    }

    #f h4, #f p {
        margin-left: 0;
    }

    #f p {
        font-size: 90%;
    }
    

    #box5 button {
        width: 50%;
        margin: 20px auto;
        
    }

    .g{
        padding-left: 0;
        color: white;
    }
    
    #box6 {
        flex-direction: column;
        height: auto;
        padding: 0 5%;
        text-align: center;
    }

    #text3 {
        order: 2;
        padding-left: 0;
        margin-top: 20px;
    }

    #text3 button {
        width: 100%;
        margin: 10px 0;
    }

    #pic3 {
        order: 1;
        margin-top: 20px;
    }

    #pic3 img {
        width: 100%;
    }
}

/* Responsive styles for mobile devices */
@media (max-width: 1194px) {
    #box {
        height: 550px;
    }

    #d {
        margin-left: 2%;
        padding-top: 3%;
    }

    h2 span {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 7.5px;
        right: 5px;
        margin: 0;
    }

    #b1, #b2 {
        width: 70px;
        margin: 0 5px;
    }

    #e b {
        margin-left: 0;
        margin-top: 35%;
        text-align: center;
        font-size: 150%;
    }

    .input-box {
        width: 80%;
        margin: 20px auto;
    }

    #signin {
        margin: 20px auto;
        text-align: center;
    }

    #box2 {
        flex-direction: column;
        height: auto;
    }

    .feature {
        width: 80%;
        margin-bottom: 20px;
        margin-left: 13%;
    }

    #box3 {
        flex-direction: column;
        height: auto;
        padding: 0 5%;
        text-align: center;
    }

    #text1 button {
        width: 100%;
        margin: 10px 0;
    }

    #pic1 {
        order: -1;
        margin-top: 20px;
    }

    #pic1 img {
        width: 100%;
    }

    #box4 {
        flex-direction: column;
        height: auto;
        padding: 0 5%;
        text-align: center;
    }

    #text2 {
        order: 2;
        padding-left: 0;
        margin-top: 20px;
    }

    #text2 button {
        width: 100%;
        margin: 10px 0;
    }

    #pic2 {
        order: 1;
        margin-top: 20px;
    }

    #pic2 img {
        width: 100%;
    }

    #box5 {
        height: auto;
        padding: 20px;
        text-align: center;
    }

    #f b {
        margin-left: 0;
        padding-top: 20px;
        font-size: 150%;
    }

    #f h4, #f p {
        margin-left: 0;
    }

    #f p {
        font-size: 90%;
    }

    #box5 button {
        width: 50%;
        margin: 20px auto;
    }
    #bu{
        margin-top: 5px;
    }

    .g{
        padding-left: 0;
        color: white;
        
    }

    #box6 {
        flex-direction: column;
        height: auto;
        padding: 0 5%;
        text-align: center;
    }

    #text3 {
        order: 2;
        padding-left: 0;
        margin-top: 20px;
    }

    #text3 button {
        width: 100%;
        margin: 10px 0;
    }

    #pic3 {
        order: 1;
        margin-top: 20px;
    }

    #pic3 img {
        width: 100%;
    }
}
